
/* Style général pour le body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Titre de la page */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
}

/* Formulaire et conteneur des menus déroulants */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Style pour les menus déroulants */
select {
    padding: 8px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
}

/* Conteneur des boutons */
.button-container {
    display: flex;
    justify-content: flex-end; 
    width: 80%;
    max-width: 800px;
    margin: 10px auto; 
    padding-right: 20px; 
}

/* Bouton pour générer le graphique */
#generateButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 50%;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

/* Style au survol du bouton */
#generateButton:hover {
    background-color: #3e9143;
}

/* Zone du graphique */
#myChart {
    width: 100%; 
    height: 600px; 
    margin: 20px auto;
    display: block; 
}

/* Bouton d'exportation PDF */
#exportPdf {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 50%;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

/* Style au survol du bouton d'export */
#exportPdf:hover {
    background-color: #3e9143;
}


  

